* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  text-align: center;
  padding: 50px 0;
  height: 200px;
}

h1 {
  margin-bottom: 20px;
}

#container {
  padding: 10px;
  margin: 0 auto;
  display: flex;
}

#startArea {
  flex-grow: 1;
}

#finishArea {
  flex-grow: 1;
}

.wallBlocks {
  width: 40px;
  height: 30px;
  background-color: blue;
}

.pathBlocks {
  width: 40px;
  height: 30px;
  background-color: white;
}

#wallAlert {
  color: red;
  font-weight: bold;
}

#player {
  background-color: lightcoral;
  border-radius: 50%;
  width: 40px;
  height: 30px;
}

#modal {
  position: absolute;
  height: 80vh;
  width: 90vw;
  top: 10%;
  right: 5%;
  background-color: lightskyblue;
}

h2 {
  text-align: center;
  margin-top: 200px;
  font-size: 3rem;
}

button {
  display: block;
  margin: 100px auto 0 auto;
  padding: 10px;
  font-size: 2rem;
  border-style: none;
  border-radius: 8px;
}